<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<body>
    <% layout("/layouts/boilerplate") %>
    <script>
    const mapToken="<%= process.env.MAP_TOKEN %>"
    const coordinates=<%- JSON.stringify(listings.geometry.coordinates) %>
</script>
    
    <div class="row  mt-3">
        <div class="col-8 offset-2">
            <h1><%= listings.title %></h1>
            <div class="card col-6 offset-2">
                <img src="<%= listings.image.url %>" alt="listing_img"  class="card-img-top show-img"/>
                <div class="card-body">
                    <p class="card-text"><i>Owned by <%= listings.owner.username %></i></p>
                       
                       <p> <b><%= listings.description %></b><br></p>
                        <p>&#8377;<%= listings.price.toLocaleString("en-IN")  %> <br></p>
                        <p><b><%= listings.location %></b><br></p>
                        <p><b><%= listings.country %></b><br></p>
                    
                </div>
            </div>

        </div>
    </div>
    <!-- <ul>
        <li><%=listings.title %></li>
        <li><%= listings.description %></li>
        <li>&#8377;<%= listings.price.toLocaleString("en-IN")  %></li>
        <li><%= listings.location %></li>
        <li><%=listings.country%></li>
    </ul> -->


   <% if(currUser && currUser._id.equals(listings.owner._id)){%>
     <a href="/listings/<%= listings._id%>/edit" class="btn btn-dark edit-btn">Edit</a>
    <form action="/listings/<%= listings._id%>?_method=delete" method="post">
        <button>delete this listings</button>
    </form>
<% } %>
    
    <hr>
    
    <div class="col-8 offset-3">
        
        <% if(currUser){%>
            <h4>Leave a Review</h4>
        <form action="/listings/<%= listings._id %>/reviews" method="post"  novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"  required></textarea>
                <div class="invalid-feedback">Please add some comment</div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
        </form>
    <% } %>
    </div>
    <hr>
    
       
        <div class="row">
            <p><b>All Review</b></p>
        <% for(review of listings.reviews){%>
            <div class="card col-5 ms-3 mb-3">
                <div class="card-body">
                    <h5  class="card-title">@<%=review.author.username %></h5>
                    <p class="card-text"><%= review.comment %></p>
                    <p class="card-text"><%= review.rating%>stars</p>
                </div>
                <form action="/listings/<%= listings._id %>/reviews/<%=review._id %>?_method=DELETE" method="post" class="mb-3">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
            </div>
        
        <% } %>
         </div>
       
   
<div class="col-8 offset-3 mb-3">
   <h3> where you will be</h3>
    <div id="map">
        
    </div>

</div>

<script src="/js/map.js"></script>
</body>
<!-- </html> -->